{
  "presets": ["flow"],
  "plugins": [
    "flow-react-proptypes",
    ["module-alias", [
      { "src": "./src/components", "expose": "components" },
      { "src": "./src/assets", "expose": "assets" },
      { "src": "./src/routes", "expose": "routes" },
      { "src": "./src/store", "expose": "store" },
      { "src": "./src/styles", "expose": "styles" },
      { "src": "./src/utils", "expose": "utils" },
      { "src": "./src", "expose": "src" }
    ]]
  ]
}
